<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../uploads/<%= general_settings_data.site_logo %>" type="image/x-icon">
    <link rel="shortcut icon" href="../../uploads/<%= general_settings_data.site_logo %>" type="image/x-icon">
    <title>Track Shipment</title>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../css/vendors/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../../css/vendors/icofont.css">
    <link rel="stylesheet" type="text/css" href="../../css/vendors/themify.css">
    <link rel="stylesheet" type="text/css" href="../../css/vendors/flag-icon.css">
    <link rel="stylesheet" type="text/css" href="../../css/vendors/feather-icon.css">
    <link rel="stylesheet" type="text/css" href="../../css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="../../css/vendors/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../css/vendors/prism.css">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <link id="color" rel="stylesheet" href="../../css/color-1.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../../css/responsive.css">
</head>
<body>
    <!-- Loader starts-->
    <div class="loader-wrapper">
      <div class="loader-box">
        <div class="loader-19"></div>
      </div>
    </div>
    <!-- Loader ends-->

    <!-- login page start-->
    <div class="container-fluid dashboard-default">
      <div class="row">
          <div class="col-xl-12 p-0">
              <div id="tracking_page">
                  <div class="m-5 px-5">
                      <div class="p-3 text-center">
                          <img src="../../uploads/<%= general_settings_data.site_logo %>" class="pt-3" alt="image">
                          <h1 class="f-w-900"><%= general_settings_data.site_title %></h1>
                          <h5>Track your shipment</h5>
                      </div>

                      <div class="card"> 
                          <div class="card-body"> 
                              <form action="/tracking" method="POST">
                                  <div class="row">
                                      <div class="col-lg-6 col-sm-12">
                                          <label class="form-label">Shipment Type</label>
                                          <select class="form-select" name="shipment_type" id="shipment_type" required>
                                              <option selected disabled value>Choose Type</option>
                                              <option value="1">Register Packages</option>
                                              <option value="2">Shipment</option>
                                              <option value="3">Pickup</option>
                                              <option value="4">Consolidated</option>
                                          </select>
                                          <!--<p class="font-danger" id="shipment_type_error">
                                              <% if (shipmentTypeError) { %>
                                                  <%= shipmentTypeError %>
                                              <% } %>
                                          </p>
                                      </div>

                                      <div class="col-lg-6 col-sm-12">
                                          <label class="form-label f-w-500">Tracking Id</label>
                                          <input class="form-control" type="text" placeholder="Enter Invoice Number" name="invoice_no" id="invoice_no" value="<%= invoiceNo || '' %>">
                                          <p class="font-danger" id="invoice_no_error">
                                              <% if (invoiceNoError) { %>
                                                  <%= invoiceNoError %>
                                              <% } %>
                                          </p>
                                      </div>

                                      <div class="col-12">
                                          <button class="btn btn-square btn-primary mt-4 pt-3 b-r-7 w-100 text-nowrap" type="submit" id="track_shipment">Track shipment</button>
                                      </div>
                                      <a href="/" class="p-3 text-center">Back to home</a>
                                  </div>
                              </form>
                          </div>
                      </div>-->

                      <!-- Display results after form submission -->
                     <!-- <% if (typeof results !== 'undefined' && results.length > 0) { %>
                          <div class="row mt-5">
                              <div class="card" id="tracking_results">
                                  <div class="card-body">
                                      <div class="row">
                                          <% results.forEach(function(result, index) { %>-->
                                              <!-- Example for Sender -->
                                              <!--<div class="col-lg-6 col-sm-12">
                                                  <span class="badge badge-light text-dark w-100 text-start f-20">Sender (Shipment #<%= index + 1 %>)</span>
                                                  <div class="row mt-4">
                                                      <div class="col-6">
                                                          <div class="d-flex">
                                                              <h2 class="m-r-10"><i class="fa fa-map-marker"></i></h2>
                                                              <div>
                                                                  <span class="f-16 mb-2">Origin Country</span>
                                                                  <h5 class="f-16"><%= result.origin_country %></h5>
                                                              </div>
                                                          </div>
                                                      </div>
                                                      <div class="col-6">
                                                          <div class="d-flex">
                                                              <h2 class="m-r-10"><i class="fa fa-map-marker"></i></h2>
                                                              <div>
                                                                  <span class="f-16 mb-2">Origin City</span>
                                                                  <h5 class="f-16"><%= result.origin_city %></h5>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>-->

                                              <!-- Example for Recipient -->
                                             <!-- <div class="col-lg-6 col-sm-12">
                                                  <span class="badge badge-light text-dark w-100 text-start f-20">Recipient (Shipment #<%= index + 1 %>)</span>
                                                  <div class="row mt-4">
                                                      <div class="col-6">
                                                          <div class="d-flex">
                                                              <h2 class="m-r-10"><i class="fa fa-map-marker"></i></h2>
                                                              <div>
                                                                  <span class="f-16 mb-2">Destination Country</span>
                                                                  <h5 class="f-16"><%= result.destination_country %></h5>
                                                              </div>
                                                          </div>
                                                      </div>
                                                      <div class="col-6">
                                                          <div class="d-flex">
                                                              <h2 class="m-r-10"><i class="fa fa-map-marker"></i></h2>
                                                              <div>
                                                                  <span class="f-16 mb-2">Destination City</span>
                                                                  <h5 class="f-16"><%= result.destination_city %></h5>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          <% }); %>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      <% } else if (typeof results !== 'undefined') { %>
                          <div class="row mt-5">
                              <p>No results found for the provided Tracking ID.</p>
                          </div>
                      <% } %>
                  </div>
              </div>
          </div>
      </div>-->
      <%- include('./partials/script'); -%>
  </div>
</body>
</html>
